<header
    class="sticky top-0 z-30 flex items-center justify-center border-b border-black/10 dark:border-white/10 bg-black dark:bg-background-dark/80 backdrop-blur-sm">
    <div class="flex h-16 w-full max-w-6xl items-center justify-between px-4 sm:px-6 lg:px-8">
        <div class="flex items-center gap-4">
            <a href="{% url 'productos:home' %}">
                <img src="https://pedidosya.dhmedia.io/image/pedidosya/restaurants/san-martin.png?quality=70&width=100" 
       alt="San Martin Foodtruck" 
       class="w-11 h-11 object-contain">
    </a>
        </div>

        {% if request.user.is_authenticated and request.user.is_superuser %}
        <div class="bg-dark">
            <button id="iniciar_pag_btn" onclick="pagar_carrito()"
                class="flex h-10 shrink-0 cursor-pointer items-center justify-center gap-x-2 rounded-full bg-yellow-500 px-5 text-black transition-transform hover:scale-105">
                <p class="text-sm font-bold">Administrar</p>
            </button>
        </div>
        {% endif %}
        {% if request.user.is_authenticated %}
        <div>
            <p class="text-yellow-500">Hola {{ request.user.first_name|default:request.user.username }}</p>
            <a href="{% url 'usuarios:logout' %}" class="font-bold text-yellow-500">
                <p>Log out</p>
            </a>
        </div>
        
        {% else %}

            <a type="submit" href="{% url 'usuarios:login' %}"
                class="flex h-10 shrink-0 cursor-pointer items-center justify-center gap-x-2 rounded-full bg-yellow-500 px-5 text-black transition-transform hover:scale-105">
                Iniciar ssesion
            </a>
            {% endif %}
        

        <button id="carrito-btn"
            class="relative flex h-10 w-10 cursor-pointer items-center justify-center overflow-hidden rounded-full bg-yellow-500 text-black dark:text-text-dark transition-colors hover:bg-yellow-400">
            <span class="material-symbols-outlined">shopping_cart</span>
            <span id="carrito-count"
                class="hidden absolute -top-1 -right-1 bg-red-500 text-white text-xs font-bold rounded-full w-5 h-5 flex items-center justify-center">0</span>
        </button>
    </div>
</header>